# Node modules
/frontend/node_modules/
/frontend/build/

# Logs
*.log
/logs

# Compiled class files
**/target/
target/

# IntelliJ project files
*.idea/
*.iml



# Spring Boot properties
/src/main/resources/application.properties

backend/pmd-report.txt
backend/unusedcode.xml
backend/target/*
frontend/package-lock.json
backend/src/main/resources/static/*
