# Node modules
/frontend/node_modules/
/frontend/build/

# Logs
*.log
/logs

# Compiled class files
**/target/
target/

# IntelliJ project files
*.idea/
*.iml

# Maven target folder
/target
/src/main/resources/static
# Spring Boot properties
/src/main/resources/application.properties

frontend/package-lock.json
backend/src/main/resources/static/

